<!DOCTYPE html>
<head>
  <title>{{data.title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/default.css') }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/default.js') }}"></script>
</head>
<body>
  <div class="container">
    <div class="box">
      <div class="head">
        <div class="section">
          info user, Hi {{data.name}}
        </div>
        <div class="section">
          score is {{data.score}} points
        </div>
      </div>
      <div class="line_break">
      </div>
      <div class="question">
      </div>
      <div class="line_break">
      </div>
      <div class="foot">
        <div class="section">
          You need take screenshot and send and your teacher, your name is a hash
        </div>
        <div class="section">
          Current level is {{data.level}}, total levels are {{data.leveltotal}}
        </div>
      </div>
    </div>
  </div>
</body>
