<div class="text">
  {{question}}
</div>
<div class="answers">
  <div class="answer btnAnswer">
    <a onclick="question('{{name}}','{{answers[0]}}',{{level}},{{nq}},'{{ca}}')">{{answers[0]}}</a>
  </div>
  <div class="answer btnAnswer">
    <a onclick="question('{{name}}','{{answers[1]}}',{{level}},{{nq}},'{{ca}}')">{{answers[1]}}</a>
  </div>
  <div class="answer btnAnswer">
    <a onclick="question('{{name}}','{{answers[2]}}',{{level}},{{nq}},'{{ca}}')">{{answers[2]}}</a>
  </div>
  <div class="answer btnAnswer">
    <a onclick="question('{{name}}','{{answers[3]}}',{{level}},{{nq}},'{{ca}}')">{{answers[3]}}</a>
  </div>
</div>
<script>
update('{{name}}',{{score}},{{level}},{{nq}})
</script>
