<div class="text">
  {{question}}
</div>
<div class="answers">
  <div class="answer btnAnswer">
    <a onclick="question('{{answers[0]}}')">{{answers[0]}}</a>
  </div>
  <div class="answer btnAnswer">
    <a onclick="question('{{answers[1]}}')">{{answers[1]}}</a>
  </div>
  <div class="answer btnAnswer">
    <a onclick="question('{{answers[2]}}')">{{answers[2]}}</a>
  </div>
  <div class="answer btnAnswer">
    <a onclick="question('{{answers[3]}}')">{{answers[3]}}</a>
  </div>
</div>
<script>
update('{{name}}',{{score}},{{level}})
</script>
